@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./assets/fonts/SourceSansPro-ExtraLight.woff") format("woff");
  font-weight: 200;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  height: 41px;
  background-color: #4A9AAD;
}

.container {
  max-width: 1420px;
  padding-left: 108px;
  padding-top: 80px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #9BDEFF;
  transition: 0.3s;
}

img {
  height: auto;
  vertical-align: middle;
}

.hero__container {
  max-width: 1635px;
  padding-top: 90px;
  padding-left: 108px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menu {
  margin-left: auto;
  margin-right: auto;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__item {
  list-style: none;
}

.menu__link {
  color: white;
  font-size: 18px;
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hero__section {
  max-width: 1635px;
  height: 242px;
  background-image: url(./assets/img/bg-hero.webp);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__heading {
  max-width: 1635px;
  height: 63px;
  font-weight: 600;
  font-size: 50px;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 63px;
}

.about__section {
  display: flex;
  height: 737px;
  background: #F5F7F9;
}

.about__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 83px;
}

.text__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  width: 517px;
  height: 577px;
  left: 108px;
  top: 80px;
}

.text__block__first {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 517px;
  height: 307px;
}

.text__program {
  width: 517px;
  height: 131px;
}

.text__program__title {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #1D1E25;
}

.text__program__description {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
  padding-top: 16px;
}

.table__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 466px;
  height: 156px;
}

.table {
  width: 407px;
  height: 72px;
	border-collapse: collapse; 
}
.table tr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 466px;
  height: 36px;
}

.table th {
	font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
  border: 1px solid #D9DEE6;
  border-radius: 4px 0px 0px 0px;
	padding: 8px 20px;
  gap: 10px;
  width: 407px;
  height: 36px;
}

.table td {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 400; 
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
	border: 1px solid #D9DEE6;
  border-radius: 0px 0px 0px 4px;
  padding: 8px 20px;
  gap: 10px;
  width: 407px;
  height: 36px;
}

.text__block__second {
  width: 517px;
  height: 99px;
}

.text__target__title {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #1D1E25;
}

.text__target__description {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
  padding-top: 16px;
}

.text__target__link {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
  padding-top: 8px;
}

.text__target__link > span {
  color: #84B135;
  text-decoration: underline;
}

.text__necessary__title {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  color: #1D1E25;
}

.text__necessary__description {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1D1E25;
  padding-top: 16px;
}

.contact__text {
  font-family: 'Source Sans Pro' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #1D1E25;
  padding-top: 40px;
}

.contact__text > span {
  color: #84B135;
  text-decoration: underline;
}